.is-flex.is-justify-content-space-around.mt-6
  .card
    .card-content.m-5
      .title.is-4= t('website.title.owner_request')

      = simple_form_for(@ownership_request, url: ownership_requests_path, wrapper: :bulma_form) do |f|
        = f.hidden_field :tenant_id, value: current_user.id
        
        = f.input :email, autofocus: true, required: true, input_html: { class: 'input', value: "#{current_user.email}" }

        = f.input :first_name, required: true, input_html: { class: 'input' , value: "#{current_user.first_name}"}
        
        = f.input :last_name, required: true, input_html: { class: 'input' , value: "#{current_user.last_name}" }

        = f.input :cin, as: :file, required: true

        .card-footer
          .card-footer-item
            = f.submit t('website.button.to_confirm'), class: "button is-primary"
          .card-footer-item
            = link_to t("website.button.back"), :back, class: "button"
