.is-flex.is-justify-content-space-around.mt-6
  .card
    .card-content.m-5
      .title.is-4=t('devise.registrations.new.sign_up')

      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource

        = f.input :avatar, as: :file, input_html: { class: "input" }

        = f.input :email, autofocus: true, input_html: { class: "input", placeholder: "Email" }
        
        = f.input :first_name, input_html: { class: "input", placeholder: t('simple_form.placeholder.first_name') }
        
        = f.input :last_name, input_html: { class: "input", placeholder: t('simple_form.placeholder.last_name') }
        
        - if @minimum_password_length
          %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
          %br/
        = f.input :password, input_html: { class: "input", placeholder: t('simple_form.placeholder.password')  }

        = f.input :password_confirmation, input_html: { class: "input", placeholder: t('simple_form.placeholder.password_confirmation')  }

        .card-footer
          .card-footer-item
            = f.submit t('devise.registrations.new.sign_up'), class: 'button has-background-link-light'
          .card-footer-item
            = render "devise/shared/links"
          .card-footer-item
            = link_to t("website.button.back"), :back, class: "button"