.listing
  - if @bookings.any?
    - @bookings.each do |booking|
      .card
        .card-header
          .card-header-title Réservations pour #{booking.apartment.title}

        .card-content
          .content
            .card-image
              - if booking.apartment.image.attached?
                = image_tag booking.apartment.image.variant(:medium)
            .control 
              %strong Locataire : 
              = booking.tenant.full_name_humanized
            .control
              %strong Email :
              = booking.tenant.email
            .control 
              %strong Localisation : 
              = booking.apartment.location
            .control 
              %strong Prix : 
              = booking.apartment.formated_amount
            .control 
              %strong Nombre de Chambres : 
              = booking.apartment.number_of_bedrooms
              
            .control 
              %strong Du :
              = booking.start_date.to_date
            .control 
              %strong Au :
              = booking.end_date.to_date
            .control 
              %strong Message du locataire :
              = booking.message
            .control 
              %strong Status : 
              = booking.status

        .card-footer
          - if policy(:booking).manage_booking?
            - if booking.accepted?
              = link_to 'Voir', booking_path(booking), class: "button is-warning"
            = button_to 'Accepter', accepted_booking_path(booking), method: :patch, class: "button is-success" if booking.may_accepted?
            = button_to 'Rejeter', rejected_booking_path(booking), method: :patch, class: "button is-danger" if booking.may_rejected?
            = button_to 'Mettre en attente', pending_booking_path(booking), method: :patch, class: "button has-background-link-light" if booking.may_pending?
          - else
            - if policy(booking).destroy?
              = button_to 'Annuler', booking_path(booking.id), method: :delete, class: "button is-light"
  - else
    %p Vous n'avez pas de demande de réservations pour le moment.
