.apartment-card
  .card
    .card-header
      .title.is-5 Réserver #{@apartment.title}

    .container
      .card-image
        %figure.image.is-4by3
          - if @apartment.image.attached?
            = image_tag @apartment.image.variant(:medium)
        .column
          .card-content
            .control
              %strong Hôte : 
              = @apartment.owner.full_name_humanized
            .control
              %strong Localisation : 
              = @apartment.location
            .control
              %strong Nombre de Chambres : 
              = @apartment.number_of_bedrooms
            .control
              %strong Commodités :
              = @apartment.amenities
            .control
              %strong Prix : 
              = @apartment.formated_amount

        = simple_form_for @booking do |f|
          = f.hidden_field :apartment_id, value: @apartment.id
          .column
            %strong= f.label "Date de début :"
            = f.date_field  :start_date
          .column
            %strong= f.label "Date de fin :"
            = f.date_field  :end_date
          .column
            = f.input :message
          .card-footer
            = f.submit 'Réserver', class: 'button has-background-link-light'
            = link_to t("activerecord.back"), :back, class: "button"
