
.apartment-card
  .card
    .card-header
      .title.is-4= @booking.apartment.title
    .card-content
      .content
        .card-image
          - if @booking.apartment.image.attached? && @booking.apartment.image.variable?
            = image_tag @booking.apartment.image.variant(:medium)
        .control 
          %strong Hôte :
          = @booking.apartment.owner.full_name_humanized
        .control 
          %strong Prix :
          = @booking.apartment.formated_amount
        .control
          %strong Nombre de chambres :
          = @booking.apartment.number_of_bedrooms 
        .control
          %strong  Localisation :
          = @booking.apartment.location
        .control
          %strong Commodités :
          = @booking.apartment.amenities
    .card-footer 
      %strong Loué du #{@booking.start_date.to_date} au #{@booking.end_date.to_date}
    .dispute-btn
      = link_to 'Déclarer un litige', new_dispute_path(booking_id: @booking.id), class: "button is-warning"
    .dispute-btn
      = link_to 'Voir les litiges', disputes_path(booking_id: @booking.id), class: "button is-info"
