
.is-flex.is-justify-content-space-around.mt-6
  .card
    .card-image
      %figure.image.is-4by3
        - if @booking.apartment.image.attached? && @booking.apartment.image.variable?
          = link_to image_tag(@booking.apartment.image.variant(:medium)), apartment_path(apartment: @booking.apartment, id: @booking.apartment.id)
        - else 
          = image_tag "missing.png"

      .card-content.m-5
        = render "shared/card_media", booking: @booking, apartment: @booking.apartment

        .columns.is-gap-2
          .col
            %strong.mr-1= t('website.booking.in_rent_from') 
            =@booking.start_date.to_date 
          .col
            %strong.mr-1=t('website.date.at')
            =@booking.end_date.to_date

      .content
        .m-4
          %strong= @booking.apartment.location
        .rows.m-5
          .row.mb-2
            %strong= t('website.apartment.rent_amount')
            = @booking.apartment.formated_amount
          .row.mb-2
            %strong= t('website.apartment.number_of_bedrooms') 
            = @booking.apartment.number_of_bedrooms 
          .row.mb-2
            %strong= t('website.apartment.amenities')
            = @booking.apartment.amenities
          
    .card-footer 
      .card-footer-item
        = link_to t('website.button.dispute_declaration'), new_dispute_path(booking_id: @booking.id), class: "button is-warning"
      
      .card-footer-item
        = link_to t('website.button.view_disputes'), disputes_path(booking_id: @booking.id), class: "button is-info"
