
.apartment-card
  .card
    .card-header
      .title.is-4= @booking.apartment.title
    .card-content
      .content
        .card-image
          - if @booking.apartment.image.attached? && @booking.apartment.image.variable?
            = image_tag @booking.apartment.image.variant(:medium)
        .control 
          %strong= t('website.role.owner')
          = @booking.apartment.owner.full_name_humanized
        .control 
          %strong= t('website.apartment.rent_amount')
          = @booking.apartment.formated_amount
        .control
          %strong= t('website.apartment.number_of_bedrooms') 
          = @booking.apartment.number_of_bedrooms 
        .control
          %strong= t('website.apartment.location')
          = @booking.apartment.location
        .control
          %strong= t('website.apartment.amenities')
          = @booking.apartment.amenities
    .card-footer 
      %strong= t('website.booking.in_rent_from') @booking.start_date.to_date t('website.date.at') @booking.end_date.to_date
    .dispute-btn
      = link_to t('website.button_dispute_declaration'), new_dispute_path(booking_id: @booking.id), class: "button is-warning"
    .dispute-btn
      = link_to t('website.button.view_disputes'), disputes_path(booking_id: @booking.id), class: "button is-info"
