.listing
  - if @disputes.any?
    - @disputes.each do |dispute|
      .card
        .card-image
          %figure.image.is-4by3
            - if dispute.dispute_image.attached?
              = image_tag dispute.dispute_image
            - else 
              = image_tag "missing.png"
          
        .card-header
          .card-header-title
            = t('website.title.dispute') + dispute.booking.apartment.title

        .card-content
          .content
            .row
              - if current_user.owner?
                %strong= t('website.role.tenant') 
                = dispute.booking.tenant.full_name_humanized
              - elsif current_user.tenant?
                %strong= t('website.role.owner') 
                = dispute.booking.owner.full_name_humanized
            .row 
              %strong= t('website.apartment.localisation')
              = dispute.booking.apartment.location

            .columns.m-2
              .column 
                %strong= t('website.date.from')
                = dispute.booking.start_date.to_date
              .column 
                %strong= t('website.date.at')
                = dispute.booking.end_date.to_date

            .row 
              %strong= t('website.booking.tenant_message')
              = dispute.description
            .row 
              %strong= t('website.booking.status')
              = dispute.status
  - else
    .rows
      .row.m-5
        = t('website.listing.no_disputes')
      .row.m-5
        = link_to t("website.button.back"), :back, class: "button"