.listing
  - if @disputes.any?
    - @disputes.each do |dispute|
      .card
        .card-header
          .card-header-title= t('website.title.dispute') + @booking.apartment.title

        .card-content
          .content
            .control 
              %strong= t('website.role.tenant') 
              = @booking.tenant.full_name_humanized
            .control 
              %strong= t('website.apartment.localisation')
              = @booking.apartment.location
            .control 
              %strong= t('website.date.from')
              = @booking.start_date.to_date
            .control 
              %strong= t('website.date.at')
              = @booking.end_date.to_date
            .control 
              %strong= t('website.booking.tenant_message')
              = dispute.description
            .control 
              %strong= t('website.booking.status')
              = dispute.status

        .card-footer
          = link_to t("website.button.back"), :back, class: "button"
  - else
    = t('website.listing.no_disputes')