.is-flex.is-justify-content-space-around.mt-6
  .card
    .card-header
      .title.is-5.m-4= t('website.title.dispute_declaration')

    .card-content.m-5
      %strong= t('website.role.tenant') + @booking.tenant.full_name_humanized
      .subtitle.is-6.has-text-grey-light= t('website.booking.in_rent_at') + @booking.apartment.title
      .columns
        .col.m-5.is-6.has-text-grey-light= t('website.date.from') + @booking.start_date.to_date.to_s
        .col.m-5.is-6.has-text-grey-light= t('website.date.at') + @booking.end_date.to_date.to_s

      .content.mt-5
        = simple_form_for(@dispute) do |f|
          = render "devise/shared/error_messages", resource: @dispute

          = f.hidden_field :booking_id, value: @booking.id

          = f.input :description, autofocus: true, required: true, input_html: { class: 'input', placeholder: t('website.apartment.title') }

          = f.input :image, as: :file, input_html: { class: 'input', placeholder: 'Image' }
          
          .card-footer.mt-5
            .card-footer-item
              = f.submit t('website.button.to_confirm'), class: 'button has-background-link-light'
        
            .card-footer-item
              = link_to t("website.button.back"), :back, class: "button"