.apartment-card
  .card
    .card-header
      .title.is-5= t('website.title.dispute_declaration')

    .container
      .card
        .card-content
          = simple_form_for(@dispute, wrapper: :bulma_form) do |f|
            = render "devise/shared/error_messages", resource: @dispute

            = f.hidden_field :booking_id, value: @booking.id

            = f.input :description, autofocus: true, required: true, input_html: { class: 'input', placeholder: t('website.apartment.title') }

            = f.input :image, as: :file, input_html: { class: 'input', placeholder: 'Image' }

            .card-footer
              = f.submit t('website.button.to_confirm'), class: 'button has-background-link-light'
              = link_to t("website.button.back"), :back, class: "button"