.is-flex.is-justify-content-space-around.mt-6
  .card
    .card-content.m-5
      .title.is-4=t('devise.sessions.new.welcome')

      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .control
            = f.input :email, autofocus: true, autocomplete: "email", input_html: { class: "input", placeholder: "Email" }

        .field
          .control
            = f.input :password, autocomplete: "email", input_html: { class: "input", placeholder: "Mot de passe" }

        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me

        .field
          .control
            = f.submit t('devise.sessions.new.sign_in'), class: 'button has-background-link-light'
            
            = render "devise/shared/links"
            
            = link_to t("website.button.back"), :back, class: "button"

