.listing
  - if @apartments.any?
    - @apartments.each do |apartment|
      .card
        .card-header-title
          %i.fa-solid.fa-house
          = apartment.title
        .card-content
          .content
            .card-image
              - if apartment.image.attached? && apartment.image.variable?
                = image_tag apartment.image.variant(:medium)
            %div
              %strong= t('website.role.owner')
              = apartment.owner.full_name_humanized
            %div 
              %strong= t('website.apartment.rent_amount')
              = apartment.formated_amount
            %div
              %strong= t('website.apartment.number_of_bedrooms')
              = apartment.number_of_bedrooms 
            %div
              %strong= t('website.apartment.localisation')
              = apartment.location
            %div
              %strong= t('website.apartment.amenities')
              = apartment.amenities
        = render partial: 'apartments/card_actions', locals: { apartment: apartment }
      
  - else
    %p=t('website.listing.no_results')
