.listing
  - if @apartments.any?
    - @apartments.each do |apartment|
      .card
        .card-image
          %figure.image.is-4by3
            - if apartment.image.attached?
              = link_to image_tag(apartment.image.variant(:medium)), new_booking_path(apartment_id: apartment.id) if policy(:user).tenant?
              = link_to image_tag(apartment.image.variant(:medium)), apartment_path(apartment: apartment, id: apartment.id) if policy(:user).is_admin_or_owner?
            - else
              = link_to image_tag("missing.png"), new_booking_path(apartment_id: apartment.id) if policy(:user).tenant?
              = link_to image_tag("missing.png"), apartment_path(apartment: apartment, id: apartment.id) if policy(:user).is_admin_or_owner?
        
        .card-content
          .media
            .media-left
              .image.is-48x48
                - if apartment.owner.avatar.persisted?
                  = image_tag apartment.owner.avatar, class: "is-rounded"
                - else
                  = image_tag "missing.png", class: "is-rounded"
            .media-content
              .title.is-6.mb-2
                %i.fa-solid.fa-house 
                = apartment.title
              .subtitle.is-6.has-text-grey
                = t('website.role.owner') + apartment.owner.full_name_humanized
          .content
            .m-4
              %strong= apartment.location
            = render 'apartments/card_actions', apartment: apartment
      
  - else
    %p=t('website.listing.no_results')
