.listing
  - if @apartments.any?
    - @apartments.each do |apartment|
      .card
        .card-image
          %figure.image.is-4by3
            - if apartment.image.attached? && apartment.image.variable?
              = link_to image_tag(apartment.image.variant(:medium)), new_booking_path(apartment_id: apartment.id)
        .card-content
          .media
            .media-left
              .image.is-48x48
                - if apartment.owner.avatar.persisted?
                  = image_tag apartment.owner.avatar, class: "is-rounded"
                - else
                  = image_tag "missing.png", class: "is-rounded"
            .media-content
              .title.is-5
                %i.fa-solid.fa-house 
                = apartment.title
              .subtitle.is-6= apartment.owner.full_name_humanized
          .content
            %div 
              %strong= t('website.apartment.rent_amount')
              = apartment.formated_amount
            %div
              %strong= t('website.apartment.number_of_bedrooms')
              = apartment.number_of_bedrooms 
            %div
              %strong= t('website.apartment.localisation')
              = apartment.location
            %div
              %strong= t('website.apartment.amenities')
              = apartment.amenities
        = render partial: 'apartments/card_actions', locals: { apartment: apartment }
      
  - else
    %p=t('website.listing.no_results')
