
.container
  .columns
    .column.is-one-third
      .card
        = render "shared/carousel", apartment: @apartment

    .column
      .card-content.m-5
        = simple_form_for @apartment do |f|
          = f.input :title, autofocus: true, input_html: { class: 'input', placeholder: t('website.apartment.title') }

          = f.input :rent_amount, input_html: { class: 'input', placeholder: t('website.apartment.rent_amount') }
        
          = f.input :location, input_html: { class: 'input', placeholder: t('website.apartment.location') }
        
          = f.input :number_of_bedrooms, input_html: { class: 'input', placeholder: t('website.apartment.number_of_bedrooms') }
          
          = f.input :amenities, input_html: { class: 'input', placeholder: t('website.apartment.amenities') }
          .columns.m-4
            .column
              = f.input :image, as: :file, input_html: { class: 'input' }
            .column
              = f.input :images, as: :file, input_html: { multiple: true, direct_upload: true, class: 'input' }

          .card-footer
            .card-footer-item 
              = f.submit t('website.button.to_confirm'), class: 'button has-background-link-light'
            .card-footer-item
              = link_to t("website.button.back"), :back, class: "button"
