.is-flex.is-justify-content-space-around.mt-6
  .card.carousel-card
    .columns.is-flex.is-align-items-center
      .column.is-6
        = render "shared/carousel", apartment: @apartment
                  
      .column.is-6
        .card-content.m-5
          = render "shared/card_media", booking: @booking, apartment: @apartment

          .content
            .m-4
              %strong= @apartment.location

            .rows.m-1
              .row.mb-2
                %strong= t('website.role.owner')
                = @apartment.owner.full_name_humanized
              .row.mb-2
                %strong= t('website.apartment.rent_amount')
                = @apartment.formated_amount
              .row.mb-2
                %strong= t('website.apartment.number_of_bedrooms')
                = @apartment.number_of_bedrooms 
              .row.mb-2
                %strong= t('website.apartment.amenities')
                = @apartment.amenities
          .card-footer
            .card-footer-item
              = link_to t("website.button.back"), :back, class: "button"
