.apartment-card
  .card
    .card-header-title
      %i.fa-solid.fa-house
      = apartment.title
    .card-content
      .content
        .card-image
          - if @apartment.image.attached? && @apartment.image.variable?
            = image_tag @apartment.image.variant(:medium)
        .control 
          %strong= t('website.role.owner')
          = @apartment.owner.full_name_humanized
        .control 
          %strong= t('website.apartment.rent_amount')
          = @apartment.formated_amount
        .control
          %strong= t('website.apartment.number_of_bedrooms')
          = @apartment.number_of_bedrooms 
        .control
          %strong= t('website.apartment.location')
          = @apartment.location
        .control
          %strong= t('website.apartment.amenities')
          = @apartment.amenities