.apartment-card
  .card
    .card-header-title
      %i.fa-solid.fa-house
      = apartment.title
    .card-content
      .content
        .card-image
          - if @apartment.image.attached? && @apartment.image.variable?
            = image_tag @apartment.image.variant(:medium)
        .control 
          %strong Hôte :
          = @apartment.owner.full_name_humanized
        .control 
          %strong Prix :
          = @apartment.formated_amount
        .control
          %strong Nombre de chambres :
          = @apartment.number_of_bedrooms 
        .control
          %strong  Localisation :
          = @apartment.location
        .control
          %strong Commodités :
          = @apartment.amenities