%nav.navbar.has-background-white.has-shadow{role: "navigation", aria: {label: "main navigation"}}
  .navbar-brand
    %a.navbar-item{href: "/"} 
      .m-5.brand-logo.is-flex.is-align-items-center.is-gap-1
        = image_tag('favicon-32x32.png')
        %strong ental

    %a.navbar-burger{role: "button", data: {target: "navbarApartmentRental"}}
      %span{aria: {hidden: "true"}}
      %span{aria: {hidden: "true"}}
      %span{aria: {hidden: "true"}}
      %span{aria: {hidden: "true"}}
      
  .navbar-menu
    .navbar-start
      - if current_user
        %a.navbar-item
          - if current_user.owner?
            = button_to t('website.button.tenant_mode'), switch_role_path, method: :patch, class: 'navbar-item'
          - elsif current_user.tenant? and OwnershipRequest.where(tenant_id: current_user.id, status: "accepted").exists?
            = button_to t('website.button.owner_mode'), switch_role_path, method: :patch, class: 'navbar-item'
    
    = link_to t('website.navbar.apartments'), apartments_path, class: ['navbar-item', ('has-text-weight-bold has-text-dark' if (current_page?(apartments_path) or current_page?(root_path)))]
    = link_to t('website.navbar.bookings'), bookings_path, class: ['navbar-item', ('has-text-weight-bold has-text-dark' if current_page?(bookings_path))]

    .navbar-end
      - target_locale = I18n.locale == :fr ? :en : :fr

      = link_to(url_for(locale: target_locale), class: 'navbar-item') do
        %i.fa-solid.fa-globe

    - if current_user
      .navbar-item.has-dropdown.is-hoverable
        .navbar-link
          .image.is-32x32

            - if current_user.avatar.attached?
              = image_tag current_user.avatar, class: "is-rounded"

            - else
              = image_tag 'missing.png', class: "is-rounded"

          .ml-3= current_user.full_name_humanized
        .navbar-dropdown.is-right
          = link_to t('website.navbar.apartments'), apartments_path, class: 'navbar-item'
          
          - if policy(:user).admin_dashboard?
            = link_to 'Administration', rails_admin_path, class: 'navbar-item'

          - elsif policy(:user).owner? || policy(:user).tenant?
            = link_to t('website.navbar.bookings'), bookings_path, class: 'navbar-item'
          
          = link_to t('website.navbar.disputes'), disputes_path, class: 'navbar-item'

          = link_to t('website.navbar.account'), edit_user_registration_path, class: 'navbar-item'

          %hr.navbar-divider
            = button_to t('website.navbar.logout'), destroy_user_session_path, method: :delete, class: 'navbar-item'
    
    - else
      .navbar-item.has-dropdown.is-hoverable
        .navbar-link.mobile-connexion-link
          .image.is-32x32
            = image_tag 'missing.png', class: "is-rounded"
        .navbar-dropdown.is-right
          = link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'navbar-item'