.search-bar.mt-6.is-flex.is-justify-content-center.is-align-items-center
  = form_tag(search_apartments_path, method: :get, class: "search-form") do
    = text_field_tag :location, params[:location], placeholder: t('website.search.location'), class: 'input'
    = number_field_tag :min_rent, params[:min_rent], placeholder: t('website.search.min_price'), class: 'input'
    = number_field_tag :max_rent, params[:max_rent], placeholder: t('website.search.max_price'), class: 'input'
    = number_field_tag :bedrooms, params[:bedrooms], placeholder: t('website.search.number_of_bedrooms'), class: 'input'
    = button_tag(type: 'submit', class: 'button has-background-link-light is-rounded') do
      %i.fa-solid.fa-magnifying-glass
